<!DOCTYPE html>
<html>
<head>
  <title>LaricaApi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
      $(function () {
          var options = $("html").data('swagger-options');

          window.swaggerUi = new SwaggerUi({
              url: "/v1/swagger_doc",
              dom_id:"swagger-ui-container",
              supportHeaderParams: true,
              supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
              onComplete: function(swaggerApi, swaggerUi){
                  if('console' in window) {
                      console.log("Loaded SwaggerUI")
                      console.log(swaggerApi);
                      console.log(swaggerUi);
                  }
                  $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
              },
              onFailure: function(data) {
                  if('console' in window) {
                      console.log("Unable to Load SwaggerUI");
                      console.log(data);
                  }
              },
              docExpansion: "none"
          });


          $('#input_apiKey').change(function() {
              var key = $('#input_apiKey')[0].value;
              log("key: " + key);
              if(key && key.trim() != "") {
                  log("added key " + key);
                  window.authorizations.add("key", new ApiKeyAuthorization("token", key, "query"));
              }
          })



          window.swaggerUi.load();
      });
  </script>
</head>
<body class="swagger-section">

<%= yield %>

</body>
</html>
